{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      //"presets": ["react-hmre"],
      "plugins": ["transform-react-inline-elements", "transform-react-constant-elements"]
    },
    "production": {
      "plugins": ["transform-react-inline-elements", "transform-react-constant-elements"]
    }
  }
}
